.report-actions {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.report-actions-btn {
  margin-left: 5px;
  background-color: rgba(255,255,255,0.8);
}

.maincontentandnav-top {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.card-kpi-metric-title {
  color: $orange;
}

.card-wrapper {
  padding: 15px;
}

.report-blocks-row {
  margin-top: 20px;
}

.card-block-align {
  padding-top: 15px;
}

.card-kpi-more-options {
  position: absolute;
  right: 5px;
  top: 5px;
}

.card-kpi-more-options-image {
  width: 20px;
  height: 20px;
}

.card-kpi-date {
  color: $gray;
  font-size: 14px;
}

.card-kpi-metric-value {
  font-size: 32px;
}

.fa-ellipsis-v {
  color: $gray;
}

.text-block-txt-content {
  position: absolute;
}
