.report-actions {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.report-actions-btn {
  margin-left: 5px;
  background-color: rgba(255,255,255,0.8);
  font-size: 18px;
  color: #586ADA;
}

.maincontentandnav-top {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.card-kpi-metric-title {
  color: $orange;
}

.card-wrapper {
  padding: 15px;
}

.report-blocks-row {
  margin-top: 20px;
}

.card-block-align {
  padding-top: 15px;
}

.card-kpi-more-options {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-kpi-more-options-image {
  width: 20px;
  height: 20px;
}

.card-kpi-date-placeholder {
  display: flex;
  justify-content: flex-start;
  color: $dark-gray;
}

.card-kpi-date-icon-image {
  height: 10px;
  width: 10px;
  margin-top: -10px;
  margin-right: 5px;
}

.card-kpi-date {
  font-size: 14px;
}

.card-kpi-date-sepatator {
  margin: -3px;
  padding: 0px 5px;
}

.card-kpi-metric-value {
  font-size: 38px;
}

.card-kpi-comparison-metric-value {
 font-size: 32px;
}

.fa-ellipsis-v {
  color: $gray;
  text-align: right;
  padding-right: 5px;
}

.card-text-block {
  background-color: rgba(249,208,38, 0.5);
}

.card-text-options {
  color: $dark-gray;
}

.sections-titles {
  font-size: 20px;
  padding-left: 15px;
}

.card-kpi-comparison-block {
  display: none;
}

.card-kpi-comparison-placeholder {
  display: flex;
  justify-content: flex-start;
}

.card-kpi-comparison-perc-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -6px;
  padding-left: 13px;
}

.card-graph-more-options {
  position: absolute;
  right: 5px;
  top: 5px;
}


