.report-actions {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.report-actions-btn {
  margin-left: 5px;
}

.maincontentandnav-top {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

