// Define variables for your color scheme

// For example:
$red: #f9264f;
$blue: #26b9f9;
$yellow: #ffcd00;
$orange: #f96626;
$green: #06e6ba;
$gray: #E3E8EE;
$light-gray: #F4F4F4;
$dark-gray: #2B2D50;
$purple: #586ADA;

