.container-fluid {
  margin-top: 69px;
  padding-top: 5px;
  background-color: $light-gray;
}

#icon-company-profile {
  width: 25px;
  height: 25px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.left-top-navbar{
  display: flex;
  align-items: center;
}

.right-top-navbar{
 display: flex;
 justify-content: space-between;
 text-align: right;
}

.left-top-navbar-title {
  margin-left: 20px;
  color: $dark-gray;
}

.right-top-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

#right-top-navbar-edit-btn {
  margin-right: 10px;
}

.right-top-navbar-btn {
  font-size: 14px;
}

// main content

.maincontentandnav {
  margin-top: 20px;
}

// left sidebar

.left-sidebar {
  min-height: 100vh;
}

.sticky-offset {
  top: 85px;
}

#left-sidebar-toggle {

}

#left-sidebar-toggle-left-arrow {
  height: 20px;
  width: 20px;
  color: $gray;
}

#left-sidebar-toggle-left-arrow:hover {
  color: $green;
}



.left-sidebar-menu-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  color: $dark-gray;
}

.left-sidebar-menu-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.left-sidebar-submenu {
  margin: -10px 0px 15px 25px;
  font-size: 16px;
}

.left-sidebar-submenu-item {
  padding: 2px 0px;
  color: $dark-gray;
}

.left-sidebar-submenu-item a {
  text-decoration: none;
  color: $dark-gray;
}

.left-sidebar-submenu-item:hover {
  color: $blue;
}

.left-sidebar-submenu-item:hover a {
  color: $blue;
}
