
<div class="left-sidebar-menu sticky-top sticky-offset">

  <!-- first link -->
  <div data-target="#submenu1"  class="btn-collapse" data-id="1">
    <a href="#">
      <div class="left-sidebar-menu-item">

        <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Reports</div>

      </div>
    </a>
  </div>
  <div id='submenu1' class="collapse">
    <a href="#">
      <div class="menu-collapsed">Charts</div>
    </a>
    <a href="#" class="">
      <div class="menu-collapsed">Reports</div>
    </a>
    <a href="#" class="">
      <div class="menu-collapsed">Tables</div>
    </a>
  </div>
  <!-- end first link -->
  <!-- second link -->

  <div data-target="#submenu2"  class="btn-collapse" data-id="2">
    <a href="#">
      <div class="left-sidebar-menu-item">
        <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Profile</div>
      </div>
    </a>
  </div>
  <div id='submenu2' class="collapse">
    <a href="#">
      <div class="menu-collapsed">Charts</div>
    </a>
    <a href="#" class="">
      <div class="menu-collapsed">Reports</div>
    </a>
  </div>
  <!-- end second link -->
  <!-- third link -->
  <div data-target="#submenu3"  class="btn-collapse" data-id="3">
    <a href="#">
      <div class="left-sidebar-menu-item">
        <div><%= image_tag("icons/paper-plane.svg", class: "left-sidebar-menu-icon") %></div>
        <div>Help Center</div>
      </div>
    </a>
  </div>
  <div id='submenu3' class="collapse">
    <a href="#">
      <div class="menu-collapsed">Charts</div>
    </a>
    <a href="#" class="">
      <div class="menu-collapsed">Reports</div>
    </a>
  </div>
  <!-- end third link -->
</div>

