// button common template

.button {
  padding: 5px 21px;
  border-radius: 23px;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  transition-duration: 0.5s;
  text-decoration: none;
  font-weight: bolder;
}

// yellow

.button-yellow {
  background-color: rgba(254,249,229,0.02);
  border: solid 1px $yellow;
  color: $yellow;
}

.button-yellow:hover {
  color: #f8cb0d;
  box-shadow: 1px 1px 7px #fbe070;
}

.button-yellow:focus {
  color: #fbe070;
}


// red

.button-red {
  background-color: rgba(249,38,79,0.02);
  border: solid 1px $red;
  color: $red;
}

.button-red:hover {
  color: #f80d3b;
  box-shadow: 1px 1px 7px #fb708b;
}

.button-red:focus {
  color: #fb708b;
}


// orange

.button-orange {
  background-color: rgba(249,102,38,0.02);
  border: solid 1px $orange;
  color: $orange;
}

.button-orange:hover {
  color: #f8550d;
  box-shadow: 1px 1px 7px #fb9a70;
}

.button-orange:focus {
  color: #fb9a70;
}


// green

.button-green {
  background-color: rgba(38,249,102,0.02);
  border: solid 1px $green;
  color: $green;
}

.button-green:hover {
  color: #05cda6;
  box-shadow: 1px 1px 7px #26f9d0;
}

.button-green:focus {
  color: #26f9d0;
}

// blue

.button-blue {
  background-color: rgba(38,185,249,0.02);
  border: solid 1px $blue;
  color: $blue;
}

.button-blue:hover {
  color: #0db1f8;
  box-shadow: 1px 1px 7px #70d1fb;
}

.button-blue:focus {
  color: #70d1fb;
}
