<h1>Create a new report</h1>
<p>Please choose a name for your new project:</p>

<%= simple_form_for [current_user, @report] do |f| %>
<%= f.input :name, label: "Name of the new report", error: 'Project name is mandatory, please specify one' %>
<%= f.button :submit %>
<% end %>


<%= link_to "Back to overview", user_reports_path(current_user) %>
